html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inknut Antiqua', serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 100vw;
}

.full-bg {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-box {
  position: absolute;
  top: 30vw;
  left: 10vw;
  width: 22vw;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2.5vw;
  font-size: 1.2vw;
  line-height: 1.9;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.15);
  border-radius: 0.8vw;
}
.bottom-right-box {
  position: absolute;
  top: 65vw;
  right: 14vw;
  max-width: 25vw;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2.5vw;
  text-align: justify;
  font-size: 1.2vw;
  line-height: 1.9;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.15);
  border-radius: 0.8vw;
  font-family: 'Inknut Antiqua', serif;
}

.bottom-right-box h4 {
  font-size: 1.1vw;
  margin-top: 0;
  text-align: justify;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
